<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watersports</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <section class="jumbotron">
      <div class="jumbotron-wrapper">
          <div class="jumbotron-content col-sm-6">
            <img src="/img/Logo.png" alt="" class="img-rounded center-block">
          </div>
          <div class="jumbotron-content col-sm-4">
              <h3>Watersports is an awesome </h3>
              <h1>Find the stories you didn't know your wanted</h1>
          </div>
      </div>
    </section>

    <section class="main-content padding-80">
      <div class="container">
        <form class="form" action="" method="post" role="form">
            <div class=" col-xs-12 input-wrapper">
              <input class="promo__input" type="text" name="topic" value="TRUMP" placeholder="Search for a topic">
              <i class="icon-search fa fa-search" aria-hidden="true"></i>
            </div>
            <input type="hidden" name="skipNum" value="10">
            <button class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
            <div id="ajax-panel"></div>
        </form>
      </div>
    </section>

    <section class="news-results padding-80">
      <div class="container">
        <div class="result" id="result">

        </div>

      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <script>
    $('button').click(function() {
  var dateTO = $('#dateFROM').val();
  var dateFROM = $('#dateTO').val();
  var topic = $('#topic').val();
  var skipNum = $('#skipNum').val();

  $.ajax({
    url: 'http://192.168.1.67:5000',
    data: $('form').serialize(),
    type: 'POST',
    success: function(result) {
      console.log(result);
      // $('.result').html(html);
      for (var i =0; i< result.length; i++){
        $("#result").append(result[i].link_text + "</br>");
        $("#result").append("<a href=" + result[i].link + ">Source<\a>" + "</br>");
        $("#result").append(new Date(result[i].time * 1000 ) + "</br>");
        $("#result").append(result[i].source + "</br>");
        $("#result").append("</br></br>");
      }
    },
    error: function(error) {
      console.log(error);
    }
  });
});
</script>



  </body>
</html>
